*{
    margin:0;
  }
  .bg-img{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-image:url("https://images.plurk.com/5t4EoVjW2WxnfdSVUPdEzL.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}